<!--- CTArcade Lobby

Updates:
	-Testing GIT Configuration
	-Testing GitHub posting as "unknown" author
--->
<!DOCTYPE html>

<html>
<head>
	<title>Lobby - CTArcade</title>
    <!-- includes -->
    {% include "includes.html" %}
    <!-- end of includes -->
    <script type="text/javascript">
	   var p1='{{user_id}}';
	   var currentUser = "{{user_id}}";
	   var returnedTimer = false;
	   function playMatch(p1, p2) {
	       location.href = "match?p2="+p2;
	   }
	   function challenge(opponent) {
	       if (currentUser=="Guest") {
	           alert("To challenge other users you need to be logged in.");
	           return;
	       }
	       playMatch(currentUser,opponent);
	   }
	   function returnEmpty() {
		   if (returnedTimer == false){
			var currentTime = new Date();
			var hours = currentTime.getHours();
			var minutes = currentTime.getMinutes();
			var seconds = currentTime.getSeconds();
			var target_hour = 17;
			var target = target_hour * 60 * 60;
			javascript_countdown.init((target - (hours * 60 * 60  + minutes * 60  + seconds)), target_hour - 1, 'javascript_countdown_time');
		   }
	   }
	   function getTime(zone, success) {
		setTimeout(returnEmpty, 4000);
		var url = 'http://json-time.appspot.com/time.json?tz=' + zone,
			ud = 'json' + (+new Date());

		window[ud]= function(o){
			success && success(o);
			returnedTimer = true;
		};
		document.getElementsByTagName('head')[0].appendChild((function(){
			var s = document.createElement('script');
			s.type = 'text/javascript';
			s.src = url + '&callback=' + ud;
			return s;
			})());
		}

	</script>
    <script type="text/javascript">
        $(function() {
            $('body').prepend("<div id='header_wrapper'></div>");
            $('#header_wrapper').load('static/html/header.html', function(){
                // highlight current mode button
                $(".header #header_button_lobby").addClass("currentMode");
            });
            $('body').append("<div class='footer_wrapper clearfix'></div>");
            $('.footer_wrapper').load('static/html/footer.html');
        });   
    </script>   

</head>
<body>	
<!-- container : main stuff -->
<div class='container'>
    <div class="wrapper clearfix">    
        <div class="fullPanel clearfix">
            <div id='desc' style='margin-bottom:10px;'>
                <h3>Welcome to the CTArcade lobby!</h3><br />
                    CTArcade runs a tournament between all the bots everyday automatically and shows the result in the table below.   
				
            </div>
            <div id='rankTable' class='clearfix' align="center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Score/Rank</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %} {% if user.id %}
                        <tr>
                            <td>{{user.id}}</td>
                            <td>{{user.score}}</td>
                            <td>
                                {% if user.id != user_id%}
                                <a href="javascript:challenge('{{user.id}}')">Play Match</a>
                                {% endif %}
                            </td>
                        </tr>
                        {%endif%}{% endfor %}    <!-- endfor users -->
                    </tbody>
                </table>
            </div>
            <div id="javascript_countdown_time"></div>
	   </div>	<!--pageContent-->
    </div>		<!-- end of container-->
</div>
<script type="application/javascript">
var javascript_countdown = function () {
	var time_left = 0; //number of seconds for countdown
	var output_element_id = 'javascript_countdown_time';
	var keep_counting = 1;
	var target_hour = 0;
 
	function countdown() {
		if(time_left < 2) {
			keep_counting = 0;
		}
 
		time_left = time_left - 1;
	}
 
	function add_leading_zero(n) {
		if(n.toString().length < 2) {
			return '0' + n;
		} else {
			return n;
		}
	}
 
	function format_output() {
		var hours, minutes, seconds, currentTime, target;
		if (time_left > 0) {
			seconds = time_left % 60;
			minutes = Math.floor(time_left / 60) % 60;
			hours = Math.floor(time_left / 3600);
			seconds = add_leading_zero( seconds );
			minutes = add_leading_zero( minutes );
			hours = add_leading_zero( hours );	
		} else {
			target = target_hour + 24;
			currentTime = new Date();
			hours = add_leading_zero( target - currentTime.getHours() );
			minutes = add_leading_zero( 59 -  currentTime.getMinutes() );
			seconds = add_leading_zero( 59 - currentTime.getSeconds() );
			
		}
 
		return '<br /><p align=\"center\"><strong>Time until next tournament: ' + hours + ':' + minutes + ':' + seconds + '</strong></p>';
	}
 
	function show_time_left() {
		document.getElementById(output_element_id).innerHTML = format_output();//time_left;
	}
  
	return {
		count: function () {
			countdown();
			show_time_left();
		},
		timer: function () {
			javascript_countdown.count();
				setTimeout("javascript_countdown.timer();", 1000);
		},

		setTimeLeft: function (t) {
			time_left = t;
			if(keep_counting == 0) {
				javascript_countdown.timer();
			}
		},
		init: function (t, h, element_id) {
			time_left = t;
			target_hour = h;
			output_element_id = element_id;
			javascript_countdown.timer();
		}
	};
}();


getTime('EST', function(time){
	var hours = time['hour'];
	var minutes = time['minute'];
	var seconds = time['second'];
	var target_hour = 17;
	var target = target_hour * 60 * 60;
	javascript_countdown.init((target - (hours * 60 * 60  + minutes * 60  + seconds)), target_hour - 1, 'javascript_countdown_time');
});
</script>
</body>
</html>