<!DOCTYPE html>
<html>
<head>
	<title>Challenge - CTArcade</title>
	<!-- includes -->
	{% include "includes.html" %}
	<!-- end of includes -->
	<link rel="stylesheet" type="text/css" href="css/jquery.qtip.css"/>
	<script type="text/javascript" src="js/tictactoe/sugiyama.js"></script>
	<script type="text/javascript" src="js/jquery.qtip.js"></script>
	<script type="text/javascript">
		var matches, p1, p2, p1_AI, p2_AI;
		p1 = "{{p1}}";   p2 = "{{p2}}";
		botKind = "{{botKind}}";  botName = "{{botName}}";
	</script>
	<script type="text/javascript" src="js/tictactoe/playMatch.js"></script>	
</head>
<body>
	<!-- header -->
		{% include "header.html" %}
	<!-- end of header -->
	<!-- container : main stuff -->
	<div class='container'>
		<div class='pageContent' style='background-color:rgba(0,0,0,0);'>
			<div class="wrapper clearfix">
				<div class="ruleListPanel">
					<div id='desc' style=''>
						<div id='userInfo'></div>
					</div>
					<div id='npcListDIV' class='ui_panel'>
						<div style='margin:10px;'>
							<h5 style='cursor:pointer; color:#aaa; margin-left:3px;'>SYSTEM BOTS <b class='caret' style='float:right; margin:5px'></b></h5>
							
							<div class='list'></div>
						</div>
					</div>
					<div id='memberListDIV' class='ui_panel'>
						<div style='margin:10px;'>
							<h5 style='cursor:pointer; color:#aaa; margin-left:3px;'>USER BOTS <b class='caret' style='float:right; margin:5px'></b></h5>
							<div class='list'></div>
						</div>
					</div>
				</div>
			

				<div class="reviewPanel">
					<div id='summary' style='margin:5px;'></div>
					<div id='viewSelection' style='float:left; margin:0px 0px 0px 0px; width:100%; padding-bottom:3px;'>  
						<ul class="nav nav-tabs">
						  <li><a onClick="javascript:showMatches('list')" data-toggle="tab">List view</a></li>
						  <li><a onClick="javascript:showMatches('group')" data-toggle="tab">Grouped by winner</a></li>
						  <li><a onClick="javascript:showMatches('graph')" data-toggle="tab">Game tree graph</a></li>
						  <li><a onClick="javascript:showMatches('animation')" data-toggle="tab">Stepwise animation</a></li>
						</ul>
					
					<!--   <input type="button" id='btn_list' class='tbtn visMode' onclick="showMatches('list')" value="List view"/>
					   <input type="button" id='btn_group' class='tbtn visMode' onclick="showMatches('group')" value="Grouped by winner"/>
					   <input type="button" id='btn_graph' class='tbtn visMode' onclick="showMatches('graph')" value="Game tree graph"/>
					   <input type="button" id='btn_animation' class='tbtn visMode' onclick="showMatches('animation')" value="Stepwise animation"/>-->
					</div>	
					<div id='matches' style='float:left; margin:10px; min-height:200px; position:relative;'></div>
					<div style='clear:both;'></div>
					
				</div>
				

			</div> <!--wrapper clearfix-->
		</div>	<!--pageContent-->
	</div>		<!-- end of container-->
</body>

</html>
	