.consider{
	background-color: #FFFFFF;
}

.ignore{
	background-color: #aaa;
}

.consider_demonstrate{
	background-color: #FFFFFF;
}

.ignore_demonstrate{
	background-color: #737373;
}

.create_ignore{
    background: url(image/create_icons.png) no-repeat scroll -250px -19px;
    border: none;
}

.create_p1{
	background: url(image/create_icons.png) no-repeat scroll -29px -21px;
	border: none;
}

.create_p2{
	background: url(image/create_icons.png) no-repeat scroll -139px -20px;
	border: none;
}

.create_empty{
	background: none;
}

.create_selected{
    background: url(image/create_icons.png) no-repeat scroll -29px -130px;
    border: none;
}

/* tile type icons for small board */
.create_ignore_tiny{
    background: url(image/create_icons_small.png) no-repeat scroll -17px -15px;
    border: none;
}

.create_p1_tiny{
    background: url(image/create_icons_small.png) no-repeat scroll -17px -3px;
    border: none;
}

.create_p2_tiny{
    background: url(image/create_icons_small.png) no-repeat scroll -29px -3px;
    border: none;
}

.create_empty_tiny{
    background: url(image/create_icons_small.png) no-repeat scroll -5px -15px;
    border: none;
}

.create_selected_tiny{
    background: url(image/create_icons_small.png) no-repeat scroll -5px -3px;
    border: none;
}



#overlayConsole > .message {
	margin-top:5px;
	height:400px;
	padding:10px;
	line-height:1.3em;
	border: 1px solid #ccc;
	background-color:#eee;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	overflow-y:scroll;
}