* { 
	margin:0; 
	padding:0;
}

body { 
	height:100%;
	background-color: #222;
	padding-top: 35px !important;
	font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif
}
h3 {
    font-size: 20px;
    margin: 10px 0 5px;
}
p {
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 15px;
    color: #777777;
}

.btn {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    background-color: #E6E6E6;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #FFFFFF 25%, #E6E6E6);
    background-repeat: no-repeat;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
/*     line-height: normal; */
    padding: 5px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
.btn.active, .btn:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.hover, .btn:hover {
	}
.btn.green {
	background-color: #57A957;
	color: #fff;
    background-image: -moz-linear-gradient(center top , #62C462, #57A957);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}



/* header and body basics */

.header {
    left: 0;
    position: fixed;
    top: 0;
    height:35px;
    color:#fff;
    width: 100%;
    z-index: 12;
}
.header_bg {
    background-color: #CF004F;
    /* background-image: -moz-linear-gradient(#CF004F, #9E0233);  */
    background-image: -moz-linear-gradient(#1F8CC2, #135475); 
    background-image: -webkit-linear-gradient(top, #1F8CC2 0%, #135475 100%);
    background-image: linear-gradient(top, #1F8CC2 0%, #135475 100%);
    bottom: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;	
}
.header_inner {
    margin: 0 auto;
    padding: 0 40px;
    width: 920px;
}
.header .emblem {
	background: url(image/ctarcade.png) no-repeat center;
	width:122px; 
	height:100%;
}

.header #game_select {
	margin : 8px 5px 0px 20px;
    background: none repeat scroll 0 0 rgba(255,255,255,0.3);
    border: 0px solid #eee;
    border-radius: 4px 4px 4px 4px; 
    /* box-shadow: 0 1px 0 #444444; */
    color: #fff;
    font: 13px Arial,sans-serif;
    padding: 1px;
    width: 150px;
}
.header input[type="text"],
.header input[type="password"]  {
	background: none repeat scroll 0 0 #666666;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #444444;
    color: #DDDDDD;
    padding:0 0 0 5px;
    height:19px; 
}
.header a {
	color: #fff;
	font-size:0.95em;
	border:1px solid rgba(255,255,255,0);
	margin : 6px 5px 0px 10px;
	padding: 1px 3px 1px 3px;
	overflow:hidden;
	text-decoration:none;
}
.header a:hover {
    color: #fff;
    border-radius: 5px;
    background: none repeat scroll 0 0 rgba(255,255,255,0.3);
    font-size:0.95em;
    text-weight:bold;
    padding: 1px 3px 1px 3px;
    margin : 6px 5px 0px 10px;
    overflow:hidden;
    text-decoration:none;
}
.header .currentMode {
	border-radius: 5px;
	padding: 3px;
    text-weight:bold;
    padding: 1px 3px 1px 3px;
	color: #fff;
	background: none repeat scroll 0 0 rgba(255,255,255,0.5);
}
.header .currentMode:hover {
    border-radius: 5px;
    padding: 3px;
    text-weight:bold;
    padding: 1px 3px 1px 3px;
    color: #333;
    background: none repeat scroll 0 0 #fff;
}
.header .ui_user {
    /*background: none repeat scroll 0 0 #666666;*/
    /* border:2px solid #444; */
    cursor:pointer;
    display: inline-block;
    height: 22px;
    padding: 0px;
    white-space:nowrap;
    margin: 6px 0px 0px 0px;
/*     -moz-border-radius: 5px; */
    /* border-radius: 5px; */
    /* box-shadow: 3px 0px 3px rgba(255, 255, 255, 0.5), -3px 0px 3px rgba(255, 255, 255, 0.5); */
}

.icon_dropdown {
	background: url(image/sprite-icons.png) no-repeat scroll -79px -68px transparent;
	display: inline-block; 
	height: 7px;
	margin: 10px 10px 0px 0px;
	vertical-align:top;
	width: 7px;
}
.icon_star {
    background: url(image/sprite-icons.png) no-repeat scroll -64px -0px transparent;
    display: inline-block; 
    height: 15px;
    margin: 0px 2px 0px 0px;
    vertical-align:top;
    width: 15px;
}
.icon_checkSmall {
    background: url(image/sprite-icons.png) no-repeat scroll -143px -16px transparent;
    display: inline-block; 
    height: 15px;
    margin: 0px 2px 0px 5px;
    vertical-align:top;
    width: 15px;
}
.icon_question {
    background: url(image/sprite-icons.png) no-repeat scroll -207px -0px transparent;
    display: inline-block; 
    height: 15px;
    margin: 0px 2px 0px 5px;
    vertical-align:top;
    width: 15px;
}
.container {
	margin: 0 auto;
    padding: 0 40px;
    width: 920px;
}

.innerHeader {
	position:relative;
    background: none repeat scroll 0 0 #f1f1f1;
    border-radius: 10px 10px 0 0;
    margin: -20px -20px 20px;
    padding: 5px 20px 10px;
    -moz-box-shadow:inset 0 -5px 3px #eee;
    -webkit-box-shadow:inset 0 -5px 3px #eee;
    box-shadow:inset 0 -5px 3px #eee;
}

.ruleListPanel {
    position:fixed;  
    float:left;
    background: none repeat scroll 0 0 transparent;
    /* border-radius: 10px 10px 10px 10px; */
    margin: 0px 0 -20px -20px;
    border-radius: 10px 10px 10px 10px;
    padding: 15px;
    width:160px;
    /* -moz-box-shadow:inset 0 -5px 3px #eee;
    -webkit-box-shadow:inset 0 -5px 3px #eee; */
    /* box-shadow:inset 0 -5px 3px #eee; */
}
.trainerPanel, .reviewPanel {
	background: none repeat scroll 0 0 #fff;
	border-radius: 10px 10px 10px 10px;
    margin: 0px 0px 10px 180px;
    padding: 10px;
}

.pageContent {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
/*     box-shadow: 0 1px 3px #A8CFE5; */
	color: #333;
	
}

div.wrapper {
    padding: 20px;
}
.clearfix:after {   /* don't need to add clear:both div */
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.icon_edit {
	float:left;
	background: url(image/sprite-icons.png) no-repeat scroll -176px -80px transparent;
    display: inline-block; 
    width: 12px; height: 12px; 
    margin: 8px 2px 0px 5px;
}
.icon_downArrow {
    float:left;
    background: url(image/sprite-icons.png) no-repeat scroll -188px -159px transparent;
    display: inline-block; 
    width: 12px; height: 12px; 
    margin: 8px 2px 0px 5px;
}


/* trainer */
div#container_game {
	width: 400px; 
	float:left;
}
div#board {
	width: 330px;
	height:330px;
}
li { 
	display: list-item;
	cursor:pointer;
	}
#sortable {
	list-style-type:none;
}
#icon_p1{ 
	float:right;
	width:50px; height:50px;
	background-image: url('image/icon_human_40.png');
	background-position:center;
	background-repeat:no-repeat;	
}
#icon_p2{ 
	float:left;
	width:50px; height:50px;
	background-image: url('image/icon_computer_40.png');
	background-position:center;
	background-repeat:no-repeat;	
} 

.button_round{
	background-color:#ccc;
	border-radius : 10px;
	padding:5px;
	color:white;
	cursor:pointer;
	font-family: Arial, Helvetica, sans-serif;
}

.console_panel {
	border: 0px silver solid;
	float:left;
	width: 300px;	
	height: 500px;
	margin-left: 5px; margin-right:10px;
}
.tile_p1 {
	background: url(image/icon_human_40.png) no-repeat center;
}
.tile_p2 {
	background: url(image/icon_computer_40.png) no-repeat center;
}
#console > .message {
	margin-top:5px;
	height:400px;
	padding:10px;
	line-height:1.3em;
/* 	border: 1px solid #ccc;
	background-color:#eee; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	/* overflow-y:scroll; */
}
.rule {
	font-size:1.3em;
}
.rule_inactive {
	color:#aaa;
	overflow:visible;
	padding-left:35px;
	font-family : Arial, Helvetica, sans-serif;
}
.rule_unapplicable {
	color:#B81900;
	line-height:1.2em;
	background-image:url(image/icon_x.png);
	background-position:0px -5px;
	background-repeat: no-repeat;
	min-height:22px;
	padding-left:35px;
	font-family : Arial, Helvetica, sans-serif;
}
.rule_selected {
	color:#6e8d30;
	line-height:1.1em;
	background-position:0px -5px;
	background-image:url(image/icon_y.png);	
	background-repeat: no-repeat;
	padding-left:35px;
	min-height:22px;
	font-family : Arial, Helvetica, sans-serif;
}
.cons_action {
	border-radius: 5px;
	padding:5px;
	background-color:#888;
	color:white;
	text-align:center;
	cursor:pointer;
}
.tile {
	border: 2px solid #e1e1e1;
	cursor: pointer;
	float:left;
	width: 30%;
	height: 30%;
	margin: 2px;
	line-height:120px;
	font-size:64px;
	text-align: center;
	border-radius: 10px;
}

div#title_bar {
	width: 100%;
	font-size:1.5em;
}

.widget{
	width: 90%;
	padding : 0px;
	border: 0px solid #dedbd1;
	margin-top:10px;
	margin-bottom: 15px;
}


/*  review page */

.review_cell {
	float:left; 
	background-color:rgba(255,255,255,0.1);
	border:2px solid #eee; 
	
}
.review_cell p {
	text-align:center;
	color:#fff;
	font: 11px Helvetica, Arial, sans-serif;
	margin-top:3px;
}

.miniboard {
	width:75px;
	float:left; 
	margin:2px 5px 15px 2px;  
}
.miniboard_graph {
	width:75px;
	position:absolute;
}
.tinyboard {
	width:40px; height:40px;
	border-radius : 3px;
	background-color : #e5e5e5;
	margin:2px;
	border:1px solid white;
	/* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); */
}
.selectedBoard {
	-moz-box-shadow: 0px 0px 5px 5px rgba(255, 255, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255, 255, 0, 0.5);
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 0, 0.5);
}

.match {
	float:left; 
	width:80px; 
	height:100px;
}
.matchGraphColumn {
    float:left; 
    width:70px; 
    position:relative;
}
.matchGraphRound {
    width:100%; 
    height:80px; 
    position:relative;
}
/* global modules */
.blackMat {
            height:100%;
            width:100%;
            position:fixed;
            left:0;
            top:0;
            z-index:1000 !important;
            background-color:black;
				filter: alpha(opacity=50); /* internet explorer */
				-khtml-opacity: 0.5;      /* khtml, old safari */
				-moz-opacity: 0.5;       /* mozilla, netscape */
				opacity: 0.5;           /* fx, safari, opera */
}
.panel_floating {
	background-color:white;
	border:1px solid #ddd;
}
.button_close {
	position:absolute;
	top:0px;
	right:0px;
	margin: -24px -24px 0 0;
	width:48px;
	height:48px;
	background: url(image/icon_close.png) no-repeat center;
}

/* user list */
.ui_panel {
    border:1px solid #ddd;
    background: white;
    margin:10px 0 10px 0; 
    padding:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.ui_panel_closed {
	border:0px;
	background: transparent;
	margin:10px; 
    padding:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.ui_panel .ui_list {
    
}
.ui_panel .ui_list .ui_item {
	border-bottom: 1px dotted #ccc;
	margin: 0 0 5px 0;
	padding: 2px 4px 2px 4px;
	cursor:pointer;
}
.ui_panel .ui_list .ui_item:hover {
    border-bottom: 1px dotted #ccc;
    margin: 0 0 5px 0;
    padding: 2px 4px 2px 4px;
    background-color:#888;
    color:#fff;
}

.ai_sortable_item {
	background: url("image/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
	border-radius : 2px 15px 15px 2px;
	display: inline-block;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	margin: 0 2px 0 0px;
	padding: 2px 10px 2px 7px;
	text-shadow: 0 1px 0 #eee;
	float:left; 
	border:1px solid #ddd;
	width:auto;
}
.ai_item {
    background: #444;
	color: #fff;
	border-radius: 20px; 
	height:20px;
	width:90%;
	overflow: hidden;
    display: inline-block;
    margin: 3px 0 3px 0;
    padding: 3px 12px 3px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    float:left; 
}
.icon_order {
	position: absolute;
	right:10px; 
    background: url(image/icon_order.png) no-repeat transparent;
    display: inline-block; 
    width: 8px; height: 12px; 
    margin: 5px -5px 0 0;
}